@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: theme('colors.stone.50');
    --color: theme('colors.stone.500');
}

.dark {
    --bg: theme('colors.stone.900');
    --color: theme('colors.stone.400');
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/Circular/CircularStd-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/Circular/CircularStd-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/Circular/CircularStd-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/Circular/CircularStd-BookItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/Circular/CircularStd-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/Circular/CircularStd-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/Circular/CircularStd-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/Circular/CircularStd-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/Circular/CircularStd-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/Circular/CircularStd-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: stonescale;
}

html,
body {
    font-family: 'Circular', sans-serif;
    font-size: 1rem;
}

body {
    color: var(--color);
    background-color: var(--bg);
    line-height: 1.5;
    word-wrap: break-word;
}

.prose {
    max-width: 100%;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
